<ion-header>
  <ion-navbar>
    <h1 style="text-align: center;">todos</h1>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-toggle (tap)="changeAll()" item-start></ion-toggle>
      <ion-input
        [placeholder]="'What needs to be done?'"
        [(ngModel)]="nomeTarefa"
        (keypress)="add($event)" item-end></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let item of lista; index as i" [hidden]="item.completa && estado=='ativos'">
      <ion-toggle [(ngModel)]="item.completa" item-start></ion-toggle>
      <ion-label [ngClass]="item.completa?'item-md-disabled':'item-md'">{{item.nome}}</ion-label>
      <button ion-button clear (click)="remove(i)" item-end>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
        <ion-col>
          <button ion-button clear>{{itemsLeft()}} items left</button>
        </ion-col>

        <ion-col>
            <ion-buttons>
              <button ion-button color="dark" [ngClass]="estado=='todos'?'button-outline-md':'button-outline-md-dark'" (click)="todos()" outline>All</button>
              <button ion-button color="dark" [ngClass]="estado=='ativos'?'button-outline-md':'button-outline-md-dark'"(click)="ativos()" outline>Active</button>
              <button ion-button color="dark" [ngClass]="estado=='completos'?'button-outline-md':'button-outline-md-dark'"(click)="completos()" outline>Completed</button>
            </ion-buttons>
        </ion-col>
        
        <ion-col>
            <ion-buttons right>
              <button *ngIf="hasCompletos()" ion-button color="dark" (click)="limparCompletos()" outline>Clear Completed</button>
            </ion-buttons>
        </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
